#head
{
    background-color: #BD7A22;
}

#head h1 strong a
{
    color: #FFFFCC;
}

#head small
{
    color: #240F03;
}

#head h2 a small
{
    color: #FFFFCC;
}

#middle a
{
    color: #240F03;
}

#nav
{
    background-color: #E79022;
}

#nav a
{
    color: #240F03;
}