/* Here is tmp, would be remove in the future */
.fuzzy-search {
  display: none; }
/* this is the other search box in template/crs_lst.php */
.search {
  display: none; }

#head {
    background-color: #BD7A22;
}

#head h1 strong a {
    color: #FFFFCC;
}

#head small {
    color: #240F03;
}

#head h2 a small {
    color: #FFFFCC;
}

.allThisCourse .appraisal ul li .app-info .rat-num {
  color: #000000;
}

@media screen and (max-device-width: 480px) {
    h1 {
        margin-top: 1rem;
        margin-left: -.5rem;
    }
    h1 strong {
        font-size: 2.75rem;
    }
    h1 small {
        font-size: 1.5rem;
    }
    h2 {
        margin-top: 1rem;
    }
    h2 .label.label-warning {
        margin-left: -.5rem;
        padding: 0 1rem;
    }
    h2 .label.label-warning small {
        line-height: 15px;
    }

}

#middle a {
    color: #240F03;
}

#nav {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    box-shadow: 0 2px 2px #ccc;
}

#nav ul {
    background-color: #E79022;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#nav ul li a {
    display: block;
    margin: .5rem auto;
    color: #FFC;
    font-size: 2.25rem;
}

.list-group {
    list-style-type: none;
}

.list-group-item {
    padding: 1.75rem 1.5rem;
    color: #777;
    font-size: 1.75rem;
}

  #nav > label {
    display: none; } }
@media screen and (max-width: 992px) {
  body > #nav {
    min-height: 2.5em;
    width: 100%; }
    body > #nav #navigation {
      display: none; }
    body > #nav label {
      display: block;
      text-align: right; }
      body > #nav label img {
        margin: .5em; }
    body > #nav input:checked ~ div#navigation {
      display: block; } }
.outer {
  text-align: center;
  padding: 2rem 3rem; }

.tip {
  display: inline-block;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #E79022;
  background-color: #ffc;
  color: #E79022;
  text-align: center;
  box-shadow: 7px 7px 0 #ddd; }
  .tip h2 {
    display: inline-block;
    margin-left: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    border-bottom: 1px solid #ccc; }
    .tip h2 a {
      color: #BD7A22; }
    .tip h2::before {
      content: "# ";
      color: #aaa; }
  .tip pre {
    display: inline;
    padding: .25rem;
    margin: 0 .25rem; }

.deps {
  text-align: left; }
  .deps h2 {
    display: inline-block;
    margin-left: 1rem;
    padding-bottom: 1rem;
    width: 95%;
    text-align: left;
    border-bottom: 1px solid #ccc; }
    .deps h2 a {
      color: #BD7A22; }
    .deps h2::before {
      content: "# ";
      color: #aaa; }
  .deps ul {
    margin: 2rem 0;
    max-width: 90%;
    list-style-type: none; }
    .deps ul li {
      display: inline-block;
      margin: 1rem;
      border: 2px solid #E79022;
      box-shadow: 7px 7px 0 #aaa; }
      .deps ul li a {
        display: block;
        padding: 1rem 2rem;
        background-color: #E79022;
        color: #ffc;
        font-size: 2rem; }
        .deps ul li a:hover {
          background-color: #ffc;
          color: #E79022;
          text-decoration: none;
          transition-duration: .2s; }

.courses-list h2 {
  display: inline-block;
  margin-left: 1rem;
  padding-bottom: 1rem;
  width: 95%;
  text-align: left;
  border-bottom: 1px solid #ccc; }
  .courses-list h2 a {
    color: #BD7A22; }
  .courses-list h2::before {
    content: "# ";
    color: #aaa; }
.courses-list ul {
  padding: 0;
  margin: 0; }
  .courses-list ul li {
    display: inline-block;
    margin: 1rem;
    width: 16%;
    vertical-align: top;
    border: 2px solid #E79022;
    box-shadow: 7px 7px 0 #ddd; }
    .courses-list ul li a {
      display: block;
      padding: 2rem;
      height: 14rem;
      background-color: #ffc;
      color: #E79022;
      font-size: 1.75rem; }
      .courses-list ul li a .teacherName {
        display: block;
        margin-bottom: 1rem;
        padding: .5rem;
        border: 1px solid #E79022;
        background-color: #E79022;
        color: #ffc;
        text-align: center; }
      .courses-list ul li a .courseName {
        font-size: 2rem; }
      .courses-list ul li a:hover {
        background-color: #E79022;
        color: #ffc;
        transition-duration: .2s;
        text-decoration: none; }
        .courses-list ul li a:hover .teacherName {
          background-color: #ffc;
          color: #E79022; }

.allThisCourse {
  margin: 0 auto;
  max-width: 80%;
  text-align: left; }
  .allThisCourse h2 {
    padding: 1rem;
    background-color: #ffc;
    color: #BD7A22;
    border: 1px solid #BD7A22;
    box-shadow: 5px 5px 0 #ccc;
    cursor: default; }
  .allThisCourse p {
    margin: 1rem 2rem 3rem 0;
    line-height: 2rem;
    font-size: 1.3rem; }
  .allThisCourse > ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .allThisCourse label {
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #E79022;
    color: #ffc; }
  .allThisCourse .intro, .allThisCourse .appraisal {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 3px dashed #E79022; }
    .allThisCourse .intro h3, .allThisCourse .appraisal h3 {
      display: inline-block;
      padding: 1rem;
      background-color: #E79022;
      color: #ffc; }
  .allThisCourse .appraisal ul {
    padding: 0;
    list-style-type: none; }
    .allThisCourse .appraisal ul li {
      padding: 2.5% 5% 2.5% 0;
      width: 30%;
      display: inline-block;
      vertical-align: top; }
      .allThisCourse .appraisal ul li .app-info {
        padding-top: 1rem;
        min-height: 5rem;
        font-size: 1.5rem; }
        .allThisCourse .appraisal ul li .app-info span {
          padding: 0 1rem;
          font-size: 2.5rem;
          color: #fff;
          border-radius: 5px; }
          .allThisCourse .appraisal ul li .app-info span.good {
            background-color: #5CB85C; }
          .allThisCourse .appraisal ul li .app-info span.bad {
            background-color: #D9534F; }
      .allThisCourse .appraisal ul li input {
        width: 95%;
        padding: 1rem;
        font-size: 1.5rem; }
        .allThisCourse .appraisal ul li input[type="number"], .allThisCourse .appraisal ul li input[type="submit"] {
          display: inline-block;
          width: 45%; }
        .allThisCourse .appraisal ul li input[type="button"], .allThisCourse .appraisal ul li input[type="submit"] {
          background-color: #ffc;
          color: #E79022;
          border: 2px solid #E79022;
          border-radius: 5px;
          box-shadow: 0 2px #ccc; }
          .allThisCourse .appraisal ul li input[type="button"]:hover, .allThisCourse .appraisal ul li input[type="submit"]:hover {
            background-color: #E79022;
            color: #ffc;
            transition-duration: .2s; }
  .allThisCourse .details .info {
    display: inline-block;
    padding: 0 5% 2rem;
    widows: 20%;
    vertical-align: top; }
    .allThisCourse .details .info:first-child {
      padding-left: 1.25rem; }
    .allThisCourse .details .info h3 {
      margin-left: -1rem;
      padding: 1rem;
      background-color: #E79022;
      color: #ffc;
      text-align: center; }
    .allThisCourse .details .info ul {
      text-align: left;
      padding-left: 1rem; }
  .allThisCourse .tabs {
    position: relative;
    margin: 3rem 0;
    height: 90rem; }
    .allThisCourse .tabs::before, .allThisCourse .tabs::after {
      content: "";
      display: table; }
    .allThisCourse .tabs::after {
      clear: both; }
    .allThisCourse .tabs .tab {
      float: left; }
      .allThisCourse .tabs .tab:last-child .tab-label {
        box-shadow: 5px 5px 0 #ccc; }
    .allThisCourse .tabs .tab-switch {
      display: none; }
    .allThisCourse .tabs .tab-content {
      padding: 1rem 4rem 4rem;
      width: 100%;
      background: #ffc;
      color: #2c3e50;
      position: absolute;
      z-index: 1;
      top: 5.6em;
      left: 0;
      border: 1px solid #BD7A22;
      box-shadow: 5px 5px 0 #ccc; }
      .allThisCourse .tabs .tab-content > h3 {
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        color: #E79022;
        border-bottom: 3px dashed #E79022; }
    .allThisCourse .tabs .tab-label {
      position: relative;
      display: block;
      z-index: 1;
      height: 8rem;
      line-height: 2.5em;
      padding: 0 1.618em;
      background: #BD7A22;
      color: #ffc;
      cursor: pointer;
      border: 1px solid #BD7A22;
      top: 0;
      transition-duration: .3s; }
    .allThisCourse .tabs .tab-switch:checked + .tab-label {
      background: #E79022;
      color: #ffc;
      border: 1px solid #BD7A22;
      border-bottom: 1px solid #ffc; }
    .allThisCourse .tabs .tab-switch:checked + .tab-label + .tab-content {
      opacity: 1;
      z-index: 3; }
  .allThisCourse .fb-comments {
    clear: both; }

@media screen and (max-width: 768px) {
  .tip {
    display: none; }

  .outer {
    padding: 2rem 1rem; }

  .courses-list ul li {
    width: 40%; }

  .allThisCourse .appraisal ul li {
    width: auto; }
    .allThisCourse .appraisal ul li.score {
      display: block; } }
@media screen and (max-width: 454px) {
  #head h1 strong {
    font-size: 2.5rem; }
  #head h1 small {
    font-size: 1rem; }

  .courses-list ul li {
    width: 70%; }

  .allThisCourse {
    max-width: 90%; }
    .allThisCourse p {
      margin-right: 0; }
    .allThisCourse .tabs .tab-label {
      padding: 0 1rem; }
    .allThisCourse .tabs .tab-content {
      padding: 1rem 2rem 2rem; } }

/*# sourceMappingURL=styles.css.map */
    #nav > label  {
        display: none;
    }
}
