#head
{
    background-color: #BD7A22;
}

#head a
{
    color: #240F03;
}

#head small
{
    color: #FFFFCC;
}

#middle a
{
    color: #240F03;
}

#nav
{
    background-color: #E79022;
}

#nav a
{
    color: #240F03;
}